.DS_*
*.log
.env
logsgit 
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch
 # Environment variables
.env
# End of https://mrkandreev.name/snippets/gitignore-generator/#react